<h1>Flights</h1>



<% @flights.each do |flight| %>
  <ol>
    <li><a href="/flights/<%= flight.id %>"><%= flight.callsign %></a></li><br>
      <ul>
        <li>Date of Flight: <%= flight.flight_date %></li>
        <li>
          Instructor:
          <% if flight.instructor %>
            <%= flight.instructor.name %>
          <% else %>
            None
          <% end %>
        </li>
        <li>
          Student:
          <% if flight.student %>
            <%= flight.student.name %>
          <% else %>
            None
          <% end %>
        </li>
        <li>Mission Type: <%= flight.mission_type %></li>
        <li>Duration: <%= flight.duration %></li><br>
      </ul>
  </ol>
<% end %>
<br>
<% if instructor_logged_in? %>
  <form action="/flights/new" method="GET">
    <input type="submit" value="Create New Flight">
  </form>
<% end %>
