<h1>Create A Flight!</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<form action="/flights" method="POST">
  <label>Callsign: </label>
  <input type="text" name="flight[callsign]" id="callsign" required><br>
  <label>Date of Flight: </label>
  <input type="date" name="flight[flight_date]" id="flight_date" required><br>
  <label>Mission Number: </label>
  <input type="text" name="flight[mission_number]" id="mission_number" required><br>
  <label>Duration: </label>
  <input type="text" name="flight[duration]" id="duration" required><br>
  <label>Mission Type: </label>
  <input type="text" name="flight[mission_type]" id="mission_type" required><br>
  <label>Instructor: </label>
  <% Instructor.all.each do |instructor| %>
    <input type="checkbox" name="ip_name" id="<%= instructor.name %>" value="<%= instructor.name %>" required>
    <%= instructor.name %>
    </input>
  <% end %><br>
  <label>Student: </label>
  <% Student.all.each do |student| %>
    <input type="checkbox" name="student_name" id="<%= student.name %>" value="<%= student.name %>" required>
    <%= student.name %>
    </input>
  <% end %><br>
  <input type="submit" value="Create Flight">
</form>
