<h1>Create A Flight!</h1>


<form action="/flights" method="POST">
  <label>Callsign: </label>
  <input type="text" name="flight[callsign]" id="callsign" required><br>
  <label>Date of Flight: </label>
  <input type="date" name="flight[flight_date]" id="flight_date" required><br>
  <label>Mission Number: </label>
  <input type="text" name="flight[mission_number]" id="mission_number" required><br>
  <label>Duration: </label>
  <input type="text" name="flight[duration]" id="duration" required><br>

  <label>Mission Type: </label>
  <select name="flight[mission_type]" required>
    <% msn_types.each do |type| %>
      <option><%= type %></option>
    <% end %>
  </select><br>

  <label>Instructor: </label>
  <select name="ip_name" required>
    <% Instructor.all.each do |instructor| %>
      <option value="<%= instructor.name %>"><%= instructor.name %></option>
    <% end %>
    <option>None</option>
  </select><br>

  <label>Student: </label>
  <select name="student_name" required>
    <% Student.all.each do |student| %>
      <option value="<%= student.name %>"><%= student.name %></option>
    <% end %>
    <option>None</option>
  </select><br>
  <input type="submit" value="Create Flight">
</form>
