<%= @flight.callsign %>
<ul>
  <li>Date of Flight: <%= flight.flight_date %></li>
  <li>Instructor: <%= flight.instructor.name %></li>
  <li>Student: insert flight.student.name here </li>
  <li>Mission Type: <%= flight.mission_type %></li>
  <li>Duration: <%= flight.duration %></li><br>
</ul>
