<h2><%= @flight.callsign %></h2>

<ul>
  <li>Date of Flight: <%= @flight.flight_date %></li>
  <li>Instructor:
    <% if @flight.instructor %>
      <a href="/instructors/<%= @flight.instructor.slug %>"><%= @flight.instructor.name %></a>
    <% else %>
      None
    <% end %>
  </li>
  <li>Student:
    <% if @flight.student %>
       <a href="/students/<%= @flight.student.slug %>"><%= @flight.student.name %></a>
    <% else %>
      None
    <% end %>
  </li>
  <li>Mission Type: <%= @flight.mission_type %></li>
  <li>Mission Number: <%= @flight.mission_number%></li>
  <li>Duration: <%= @flight.duration %></li><br>
</ul>
<% if instructor_logged_in? && current_instructor == @flight.instructor %>
  <form action="/flights/<%= @flight.id %>/delete" method="GET">
    <input type="submit" value="Delete Flight">
  </form>
  <form action="/flights/<%= @flight.id %>/edit" method="GET">
    <input type="submit" value="Edit Flight">
  </form>
<% end %>
