<%= @flight.callsign %>
<ul>
  <li>Date of Flight: <%= @flight.flight_date %></li>
  <li>Instructor: <%= @flight.instructor.name %></li>
  <li>Student: insert flight.student.name here </li>
  <li>Mission Type: <%= @flight.mission_type %></li>
  <li>Duration: <%= @flight.duration %></li><br>
</ul>
<% if current_instructor == @flight.instructor %>
  <form action="/flights/<%= @flight.id %>/delete" method="GET">
    <input type="submit" value="Delete Flight">
  </form>
  <form action="/flights/<%= @flight.id %>/edit" method="GET">
    <input type="submit" value="Edit Flight">
  </form>
<% end %>
<form action="/logout" method="GET">
  <input type="submit" value="Logout">
</form>
