<h1>Edit <%= @student.name %>'s Profile Here</h1>

<form action="/students/<%= @student.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Student Name: </label>
  <input type="text" name="student[name]" id="<%= @student.name %>" value="<%= @student.name %>"><br>
  <label>Student Email: </label>
  <input type="text" name="student[email]" id="<%= @student.email %>" value="<%= @student.email %>"><br>

  <label>Course Type: </label>
  <select name="student[course_type]" id="<%= @student.course_type %>">
    <option value="<%= @student.course_type %>" selected><%= @student.course_type %></option>
    <% syllabus_types.each do |type| %>
      <% if type != @student.course_type %>
        <option value="<%= type %>"><%= type %></option>
      <% end %>
    <% end %>
    <option value="none">None</option>
  </select><br>

  <% if student_logged_in? %>
    <label>Student's Current Password: </label>
    <input type="password" name="current_password" id="current_password"><br>
  <% end %>

  <% if instructor_logged_in? %>
    <label>Instructor's Account Password: </label>
    <input type="password" name="ip_password" id="ip_password"><br>
  <% end %>

  <label>Student's New Password: </label>
  <input type="password" name="student[password]" id="new_password"><br>
  <label>Confirm Student's New Password: </label>
  <input type="password" name="password_confirm" id="password_confirm"><br>
  <input type="submit" value="Edit Profile">
</form>
