<h1>Welcome To <%= @student.name %>'s Home Page</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<h3>Account Information:</h3>
<h5>
  Student Name: <%= @student.name %><br>
  Email: <%= @student.email %><br>
  Course: <%= @student.course_type %><br>
  # of Flights: <%= @student.flights.count %><br>
  Flight Hours: <%= @student.student_flight_hours %>
</h5>

<h3><%= @student.name %>'s Flights:</h3>
<ol>
  <% @student.flights.each do |flight| %>
    <li><a href="/flights/<%= flight.id %>"><%= flight.callsign %></a></li>
  <% end %>
</ol>

<h3><%= @student.name %>'s Instructors:</h3>
<ol>
  <% @student.instructors.uniq.each do |instructor| %>
    <li><a href="/instructors/<%= instructor.slug %>"><%= instructor.name %></a></li>
  <% end %>
</ol>

<% if instructor_logged_in? || current_student == @student %>
  <form action="/students/<%= @student.slug %>/delete" method="GET">
    <input type="submit" value="Delete Account">
  </form>
  <form action="/students/<%= @student.slug %>/edit" method="GET">
    <input type="submit" value="Edit Account">
  </form>
<% end %>
