<h1>Edit Your Profile Here</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>
<form action="/instructors/<%= @instructor.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name: </label>
  <input type="text" name="instructor[name]" id="<%= @instructor.name %>" value="<%= @instructor.name %>"><br>
  <label>Email: </label>
  <input type="text" name="instructor[email]" id="<%= @instructor.email %>" value="<%= @instructor.email %>"><br>
  <label>Current Password: </label>
  <input type="password" name="current_password" id="current_password"><br>
  <label>New Password: </label>
  <input type="password" name="instructor[password]" id="new_password"><br>
  <label>Confirm New Password: </label>
  <input type="password" name="password_confirm" id="password_confirm">
  <input type="submit" value="Edit Profile">
</form>
