<h1>Welcome <%= @instructor.name %></h1>
<h3>Here are your flights:</h3>
<ol>
  <% @instructor.flights.each do |flight| %>
    <li><%= flight.mission_number %></li>
    <li><%= flight.mission_type %></li>
    <li><%= flight.duration %></li>
  <% end %>
</ol>
<h3>Here are your students:</h3>
<ol>
  <% @instructor.students.each do |student| %>
    <li><%= student.name %></li>
    <li><%= student.course_type %></li>
  <% end %>
</ol>
<form action="/instructors/:slug/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Account">
</form>
<form action="/instructors/:slug/edit" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Edit Account">
</form>
<form action="/logout" method="GET">
  <input type="submit" value="Logout">
</form>
