<h1>Welcome <%= @instructor.name %></h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<h3>Here are your flights:</h3>
<ol>
  <% @instructor.flights.each do |flight| %>
    <li><%= flight.callsign %></li>
  <% end %>
</ol>

<h3>Here are your students:</h3>
<ol>
  <% @instructor.students.each do |student| %>
    <li><%= student.name %></li>
    <li><%= student.course_type %></li>
  <% end %>
</ol>

<% if current_instructor == @instructor %>
  <form action="/instructors/<%= @instructor.slug %>/delete" method="GET">
    <input type="submit" value="Delete Account">
  </form>
  <form action="/instructors/<%= @instructor.slug %>/edit" method="GET">
    <input type="submit" value="Edit Account">
  </form>
<% end %>
<form action="/logout" method="GET">
  <input type="submit" value="Logout">
</form>
