<h1>Welcome <%= @instructor.name %></h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %><br>
<% end %>

<h3>Here are your flights:</h3>
<ol>
  <% @instructor.flights.each do |flight| %>
      <li><a href="/flights/<%= flight.id %>"><%= flight.callsign %></a></li><br>
  <% end %>
</ol>

<h3>Here are your students:</h3>
<ol>
  <% @instructor.students.each do |student| %>
    <li><a href="/students/<%= student.slug %>"><%= student.name %></a></li><br>
    <%= student.course_type %>
  <% end %>
</ol>

<h3>Total flight hours: <%= @instructor.instructor_flight_hours %></h3>
<h3>Total Days Required: <%= @instructor.instructor_days_req %></h3>

<% if current_instructor == @instructor %>
  <form action="/instructors/<%= @instructor.slug %>/delete" method="GET">
    <input type="submit" value="Delete Account">
  </form>
  <form action="/instructors/<%= @instructor.slug %>/edit" method="GET">
    <input type="submit" value="Edit Account">
  </form>
<% end %>
